---
---
@import "{{ site.theme }}";

/* Your css rules goes after this */
a {
  color: #006DB6;
}
body {
  background-color: #f3f3f3;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

 /* overall table settings */

table {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    vertical-align: top;
    text-align: left;
}

h2 {
  //margin-top: 24px;
  padding-top: 20px;
}

/* image padding */

.imggif {
    padding-left: 10px;
    padding-bottom: 10px;
    float: right;
}

/* logo make not circle */

.logo {
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
  margin-bottom: 10px;
  max-width: 90%;
}
